body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 0 1rem;
}

header {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.filter {
  display: flex;
}

.filterBtn {
  width: 100%;
  border-style: ridge;
  background: #333;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}

.Btn {
  border: none;
  color: white;
  padding: 5px 10px;
  float: right;
  cursor: pointer;
}
